@media only screen and (max-width:1024px) {
    .nav-menu{
        display: none ;
    }
    .nav-toggle{
        display: block;
        margin-left: 20px;
        color: #0f97aa;
    }
    .logo{
        font-size: 1.5rem;
    }
    #content-2{
        display: flex;
        flex-direction: column;
    }
}